* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    color: #fff;
    background-color: #000;
}

.img {
    background-image: url('../img/thumb-1920-1057693.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#userword {
	transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5%;
}

#reverse-userword {
	transform: rotate(270deg);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10%;
}

.box {
    position: absolute;
    top: 20%;
    right: 5%;
}

ul {
    list-style: none;
}

li {
    line-height: 2;
}